<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <!-- TODO: Add any connection string transforms here -->
    <!--
    <connectionStrings>
      <add name="" connectionString="" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
    -->
    
    <!-- TODO: Add any appsetting transforms here -->
    <!--<appSettings>
        <add key="" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    </appSettings>
    -->
    
    <!-- TODO: For web projects remove debug information and set custom errors for production configs -->
    <!--<system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
        <customErrors mode="RemoteOnly" xdt:Transform="Replace" />        
        </system.web>
    -->
    
</configuration>